<ul class="collection with-header">
    <li class="collection-header">
        Title: {{surveyForm.title}}
    </li>
    <li class="collection-header">
        Subject: {{surveyForm.subject}}
    </li>
    <li class="collection-header">
        Email Body: {{surveyForm.emailBody}}
    </li>
    <li class="collection-header">
        Recipients: {{surveyForm.recipients}}
    </li>
</ul>
<button (click)="reviewFormFields(true)" class="btn">Cancel</button>
<button (click)="submit()" class="btn green right">Submit<i class="material-icons">email</i></button>
