<div>
    <ul class="collection">
      <li class="collection-item avatar">
                <i class="material-icons circle">assignment</i>
                <span class="title">Title</span>
                <p>Sent: Yesterday</p>
                <p>Yes: 23434</p>
                <p>No: 234</p>
                <span class="secondary-content">Last Replied: NOW</span>
            </li>
    </ul>
    <div class='fixed-action-btn'>
        <a href="#" class="btn-floating btn-large red" >
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>
